<h1>Carrito</h1>

<div class="products">
    {{#each array}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.product.title}}</h5>
            <p class="card-text">Descripción: {{this.product.description}}</p>
            <p class="card-category">Categoría: {{this.product.category}}</p>
            <p class="card-price">Precio por unidad: ${{this.product.price}}</p>
            <p class="card-category">Cantidad: {{this.quantity}}</p>
            <p class="card-price">Precio total: ${{this.priceTot}}</p>
        </div>
    </div>
    {{/each}}

    <a href="/api/carts/{{cartId}}/purchase"><button type="button" class="btn btn-success">Finalizar compra</button></a>
</div>
