<h1>Carrito</h1>

<div class="products">
    {{#each array}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.product.title}}</h5>
            <p class="card-text">Descripción: {{this.product.description}}</p>
            <p class="card-category">Categoría: {{this.product.category}}</p>
            <p class="card-price">Precio por unidad: ${{this.product.price}}</p>
            <p class="card-category">Cantidad: {{this.quantity}}</p>
            <p class="card-price">Precio total: ${{this.priceTot}}</p>
            <button type="button" class="btn btn-danger" onclick="deleteProduct('{{this.product._id}}', '{{../cartId}}')">Eliminar producto</button>
        </div>
    </div>
    {{/each}}

    <a href="/api/carts/{{cartId}}/purchase"><button type="button" class="btn btn-success">Finalizar compra</button></a>
    
</div>

<div>
    <form action="/products" method="get">
        <input type="submit" class="btn btn-success" value="Seguir comprando">
    </form>
</div>

<script>
    function deleteProduct(productId, cartId) {
        // Realizar la solicitud POST al endpoint del carrito.
        let url = `/api/carts/${cartId}/products/${productId}`
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        }).then(response => {
            if (response.ok) {
                location.reload()
            } else {
                alert('Error al eliminar el producto')
            }
        })
    }
</script>