<div class="products">
    {{#each array}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Nombre: {{this.firstName}}</h5>
            <p class="card-price">Email: {{this.email}}</p>
            <p class="card-category">
                Rol: {{this.role}}
                <button type="button" class="btn btn-success" onclick="userPremium('{{this.id}}')">
                    Cambiar rol
                </button>
            </p>
            <div>
                <button type="button" class="btn btn-danger" onclick="deleteUser('{{this.id}}', '{{this.email}}')">
                    Eliminar usuario
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div>
    <form action="/products" method="get">
        <input type="submit" class="btn btn-success" value="Ir a productos">
    </form>
</div>

<script>
    function userPremium(userId) {
        let url = `/api/users/premium/${userId}`
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => {
            if (response.ok) {
                location.reload()
            } else {
                alert('Error al cambiar el rol')
            }
        })
    }

    function deleteUser(uid, email) {
        let url = `/api/users/delete/${uid}/${email}`
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => {
            if (response.ok) {
                location.reload()
            } 
            else {
                alert('Error al eliminar usuario')
            }
        })
    }
</script>


