<h1> Bienvenido {{firstName}}, esta es la página de productos.</h1>
{{#if role }}
<h4>Rol: Admin </h4>
{{else}}
<h4>Rol: User </h4>
{{/if}}

<form action="../auth/logout" method="get">
    <input type="submit" class="btn btn-success" value="Logout">
</form>

<div class="products">
    {{#each array}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Descripción: {{this.description}}</p>
            <p class="card-price">Precio por unidad: ${{this.price}}</p>
            <p class="card-category">Categoría: {{this.category}}</p>
            <p class="card-category">Stock: {{this.stock}}</p>
            <button type="button" class="btn btn-success" onclick="addToCart('{{this._id}}', '{{../cartId}}')">Agregar
                al carrito</button>
        </div>
    </div>
    {{/each}}
</div>

<script>
    function addToCart(productId, cartId) {
        // Realizar la solicitud POST al endpoint del carrito.
        let url = `/api/carts/${cartId}/products/${productId}`
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
    }
</script>