<div class="navbar">
    <form action="/api/session/current" method="get">
        <input type="submit" class="btn btn-success" value="Ver Perfil">
    </form>

    <form action="/api/users/premium/{{userId}}" method="get">
        <input type="submit" class="btn btn-success" value="Cambiar user/premium">
    </form>

    <form action="../auth/logout" method="get">
        <input type="submit" class="btn btn-danger" value="Logout">
    </form>

    <form action="/api/carts/{{cartId}}" method="get" class="btnCart">
        <input type="submit" class="btn btn-success" value="Carrito">
    </form>
</div>

<h1 class="titleProducts"> Bienvenido {{firstName}}, esta es la página de productos.</h1>

{{#eq role "Premium"}}
<h4>Rol: Premium </h4>
{{/eq}}
{{#eq role "User"}}
<h4>Rol: User </h4>
{{/eq}}
{{#eq role "Admin"}}
<h4>Rol: Admin </h4>
<form action="/api/users/modify" method="get">
    <input type="submit" class="btn btn-danger" value="Modificar Usuarios">
</form>
{{/eq}}

<div class="pagination">
    {{#if hasPrevPage}}
        <form action="{{prevPageLink}}" method="get" class="prevPageForm">
            <input type="hidden" name="page" value={{prevPage}}>
            <input type="hidden" name="limit" value="10">
            <input type="submit" class="btn btn-success" value="Anterior">
        </form>
    {{/if}}

    {{#if hasNextPage}}
        <form action="{{nextPageLink}}" method="get" class="nextPageForm">
            <input type="hidden" name="page" value={{nextPage}}>
            <input type="hidden" name="limit" value="10">
            <input type="submit" class="btn btn-success" value="Siguiente">
        </form>
    {{/if}}
</div>

<div class="products">
    {{#each array}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Descripción: {{this.description}}</p>
            <p class="card-price">Precio por unidad: ${{this.price}}</p>
            <p class="card-category">Categoría: {{this.category}}</p>
            <p class="card-category">Stock: {{this.stock}}</p>
            {{#if this.stock}}
                <button type="button" class="btn btn-success" onclick="addToCart('{{this._id}}', '{{../cartId}}')">Agregar
                al carrito</button>
            {{/if}}
            
        </div>
    </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
        <form action="{{prevPageLink}}" method="get" class="prevPageForm">
            <input type="hidden" name="page" value={{prevPage}}>
            <input type="hidden" name="limit" value="10">
            <input type="submit" class="btn btn-success" value="Anterior">
        </form>
    {{/if}}

    {{#if hasNextPage}}
        <form action="{{nextPageLink}}" method="get" class="nextPageForm">
            <input type="hidden" name="page" value={{nextPage}}>
            <input type="hidden" name="limit" value="10">
            <input type="submit" class="btn btn-success" value="Siguiente">
        </form>
    {{/if}}
</div>

<script>
    function addToCart(productId, cartId) {
        // Realizar la solicitud POST al endpoint del carrito.
        let url = `/api/carts/${cartId}/products/${productId}`
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
    }
</script>